/* Styles for Homelab */
.container-fluid {
  padding: 0;
}

.homelab {
  margin-top: 80px;
  height: 40vh;
  background: url("../images/home_datacenter_splash.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1700px) {
  .container-fluid {
    padding: 0 10vw 0 10vw;
  }
  .homelab {
      height: 50vh;
  }
}

.nav-tabs {
  padding-left: 35%;
}

.nav-tabs li {
  font-size: 18px;
  text-align: center;
  width: 100px;
}

.nav-tabs li a {
  border-radius: 0px;
  color: white;
}

.nav-tabs li a:hover {
  color: black;
}

.servers {
  margin: 50px 0 50px 0;
  /*background-color: rgba(60, 60, 60, 0.5);*/
  /*box-shadow: 2px 10px 5px #000;*/
}

.servers h2 {
  color: #eee;
}

.servers h3 {
  color: rgb(120, 120, 120)
}

.servers p {
  color: rgb(160, 160, 160);
}

.servers img {
  width: 225px;
  margin-top: 20px;
  margin-left: -30%;
}
