body {
  background-color: #1F1F1F;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
  float: none;
}

.navbar-default .navbar-brand {
    color: #eee;
}

.wide {
  width: 100vw;
  height: 60vh;
  background-image: url('images/stixxnet.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /*margin-top: 50px;*/
}

.box-item-container {
  padding-top: 10px;
  padding-bottom: 220px;
  margin-left: 6%;
  /*margin-right: 5%;*/
}

.box-item {
  text-align: center;
  color: #eee;
  border: solid white 1px;
  margin: 4% 3% 4% 3%;
  padding: 30px;
  height: 300px;
  background-color: rgba(249, 190, 3, 0.7);
  border-radius: 4px;
}

@media (max-width: 990px) {
    .box-item-container {
      margin: 5% 10% 5% 10%;
    }
    .box-item {
      padding: 50px;
      margin-bottom: 50px;
    }
  }

.plex-requests {
  border: none;
  background-color: rgba(249, 190, 3, 1);
}
