body {
  background-color: rgba(31, 31, 31, 1);
  font-family: 'Khula', sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  height: 60px;
  position: absolute;
  top: 0;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
  float: none;
}

.navbar-default .navbar-brand {
    color: #eee;
}

.wide {
  width: 100vw;
  height: 60vh;
  background-image: url('images/stixxnet.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -20px;
  position: relative;
}

.wide h1 {
  color: #eee;
  text-align: center;
  padding-top: 180px;
}

.wide .bottom-nav {
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
}

.bottom-nav .icons {
  left: 6%;
}

.bottom-nav span {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  padding: 0 20px 0 20px;
  font-size: 25px;
  text-align: center;
}

.box-item-container {
  padding-top: 10px;
  padding-bottom: 220px;
  margin-left: 6%;
}

.box-item {
  text-align: center;
  color: #eee;
  border: solid #000 1px;
  margin: 4% 3% 4% 3%;
  padding: 30px;
  height: 300px;
  background-color: rgba(80, 170, 255, 0.3);
  border-radius: 2px;
  box-shadow: 3px 35px 18px #000;
}

.box-item p {
  font-size: 18px;
}

.box-item h2, .box-item p {
  text-shadow: 2px 2px #000;
}

.box-item:first-of-type {
  background: url('images/lightsnwires.jpg') no-repeat center center;
  background-position: top;
  background-size: cover;
}

.box-item:nth-of-type(2) {
  background: url('images/plexicon.png') no-repeat center center;
  background-size: cover;
}

.box-item:last-of-type {
  background: url('images/battlenet.jpg') no-repeat center center;
  background-size: cover;
}

@media (max-width: 990px) {
    .box-item-container {
      margin: 5% 10% 5% 10%;
    }
    .box-item {
      padding: 50px;
      margin-bottom: 50px;
    }
    .bottom-nav .icons {
      left: 30%;
    }
  }

.btn {
  font-size: 20px;
  font-weight: bolder;
  border: solid #000 1px;
  border-radius: 2px;
  background-color: rgba(249, 190, 3, 1);
}

.btn img {
  height: 25px;
}
